@page "/"

<PageTitle>Telerik grid with EF Core FromSql</PageTitle>

<h1><span class="oi oi-pulse"></span> Telerik grid with EF Core FromSql</h1>

<p>TODO AYS - Add connection string to appsettings.json, then add dbcontext and scaffold the products table from Northwind</p>
<p>Data Source=.;Initial Catalog=Northwind;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true</p>